body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.home_nav a{
    color: black; text-decoration: none; 
    padding: 20px; font-size: 20px; 
}
.home_nav{
    position: absolute; top: -29px;
    padding: 2px;
    height: 60px; margin-top: 30px;
    background-color: rgba(255, 255, 255, 0.443);
}
a{
    position: relative; top: 14px;
    color: rgb(31, 79, 31);
    font-family: sans-serif;
    font-weight: 500;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-image img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 20px;
}

.contact-details {
    margin-bottom: 20px;
}

.contact-details h1 {
    margin-bottom: 10px;
}

.contact-details p {
    margin: 5px 0;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    margin-bottom: 5px;
    font-weight: bold;
}

.contact-form input,
.contact-form textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.contact-form button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #0056b3;
}
